.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  justify-content: space-between;
}

.title {
  margin-left: 25px;
}

.links {
  margin: 25px;
}

.link {
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 15px;
}

.book-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em;
  margin: 10em;
  margin-top: 1em;
  margin-bottom: 0em;
  
}

.book-card {
  padding: 1em;
  width: 18em;
  height: 24em;
  background-color: lightblue;
  border-radius: 0.5em;
  margin: 2em;
  justify-content: space-around;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
  color: black;
  font-family:'Courier New', Courier, monospace
}

.books-title {
  margin-top: 3em;
  font-family: 'Courier New', Courier, monospace;
}

.bookform {
  margin-bottom: 10em;
}

form {
  background-color: lightblue;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 10em;
  min-height: 10em;
  margin: 2em auto;
  border-radius: 0.25em;
  font-weight: bold;
}

form input {
  display: block;
  padding: 0.25em;
  font-family: 'Courier New', Courier, monospace;
}

button, input {
  outline: none;
  border: none;
  border-radius: 0.25em;
}

button {
  padding: 0.5em 2em;
  background-color: white;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
  margin-top: 1em;
}

.aboutH1 {
  margin: 5em;
}

.book-details {
  margin: 2em;
  margin-left: 30em;
  margin-right: 30em;
}

.description, .reviews-title {
  text-decoration: underline;
}

.deleteButton {
  border: 1px solid black;
}